body{
  text-align: center;
  background-color: #011F3F;
}
h1
{
  font-family: 'Press Start 2P', cursive;
  font-size: 4rem;
  margin:3%;
  color:white;
}
.btn
{
  padding:8% 8%;
  border:solid black;
  border-width: thick;
  border-radius: 50px;
  margin:3%;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}
